/CurrentClass_InstanceVariable.class
/Invoke_Current_Class_Constuctor.class
/Invoke_Current_Class_Constuctor1.class
/Invoke_Current_Class_Method.class
/ThisKeyConstructerCall.class
/ThisKeyConstructerCall1.class
